div.chordpro-song{
    margin:0;
    padding: 0 0 0 1em;
    display: block;
}

textarea.chordpro-song{
    visibility: hidden;
    position: absolute;
}
div.chordpro-song{
    border:none;
    white-space: pre-wrap;
    min-height: 5em;
    counter-reset: verse-counter;
    position: absolute;
}
div.chordpro-song p{
    margin-top:0;
    margin-bottom:0;
    margin-left: -1em;
    padding-left: 1em;
    position: relative;
    line-height: 150%;
}
p.verse{
    /*background-color:#cfc;*/
}
p.verse:before {
    content: counter(verse-counter) ".";
    counter-increment: verse-counter;
    display: inline-block;
    margin-left:-1em;
    margin-right: 1em;
    width: 0;
    color:#333;
}
p.verse_star{
    /*background-color:#dfffc0;*/
}
p.chorus{
    font-weight: bold;
}
div.chordpro-song p.chorus{
    /*background-color: #efe;*/
    border-left: .2em black solid;
    margin-left: -.5em;
    padding-left: .3em;
}
div.chordpro-song p.bridge{
    /*background-color: #efe;*/
    border-left: .2em black dashed;
    margin-left: -.5em;
    padding-left: .3em;
}



/* Caracters that do not belong to the text */
span.repeat{
    font-style: italic;
}
span.repeat:before{
    content: "(×";
}
span.repeat:after{
    content: ")";
}
span.chord{
    color: green;
    line-height: 200%;
    vertical-align: bottom;
    display: inline-block;
    position: relative;
    top: -8px;
    font-weight: normal;
    width: 0;
}
span.chord .control-chars:not(:first-of-type){
    display: inline;
    visibility: hidden;
    width: 50px;
}
span.control-chars,
p.code-comment{
    display: none;
}

/* Emphasize error location */
span.error-line{
    background-color: #FF9C9C;
    position:relative;
}
span.error-line:before{
    content:"⚠";
    position: absolute;
    left:-1em;
    color:red;
    font-weight: bold;
}
span.error-char{
    border-bottom:red 2px solid;
}



button.switcher.visual{
    display: none;
}
